a.btn, .btn{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #fff;
	border-radius: 999em;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;

	@include sm{
		display: block;
		margin-bottom: 16px;
	}

	&.btn-primary{
		background: #000;
	}
	&.btn-secondary{
		background: #159281;
	}
	&.btn-small{
		padding: 10px 24px;
	}
	&.btn-medium{
		padding: 15px 48px;
	}
	&:hover{
		background: #00DEAD;
		transition: all .3s ease-in-out;
	}
}

input[type="text"],
input[type="search"],
input[type="email"],
.igloo-select{
	font-family: $primary-font;
	padding: 10px 48px;
	border-radius: 50px;
	color: #ccc;
	font-size: 20px;
	border: 1px solid #fff;
	background: #1e1e1e;
	margin-bottom: 16px;
}
.igloo-select{
	padding: 9px 38px;

	@include lg{
		padding: 3px 38px;
	}
}
.igloo-select select{
	font-family: $primary-font;
	border-radius: 0;
	background: transparent;
	border: none;
	color: #666;
	font-size: 20px;
}
.igloo-select select option:first-child {
	color: #666!important;
}
input[type="submit"]{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #fff;
	border-radius: 999em;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background: #000;
	padding: 15px 48px;
	border:none;
	&:hover{
		background: #00DEAD;
	}
}
