a.btn, .btn{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #fff;
	border-radius: 999em;
	display: inline-block;
	text-decoration: none;

	&.btn-primary{
		background: #000;
	}
	&.btn-secondary{
		background: #159281;
	}
	&.btn-small{
		padding: 10px 24px;
	}
	&.btn-medium{
		padding: 15px 48px;
	}
	&:hover{
		background: #00DEAD;
	}
}

input[type="text"],
input[type="search"],
input[type="email"]{
	font-family: $primary-font;
	padding: 15px 48px;
	border-radius: 50px;
	color: #ccc;
	font-size: 20px;
	border: 1px solid #000;
}
input[type="submit"]{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #fff;
	border-radius: 999em;
	display: inline-block;
	text-decoration: none;
	background: #000;
	padding: 15px 48px;
	&:hover{
		background: #00DEAD;
	}
}
