.site-header {
  padding: 3px 60px 0px;
  position: absolute;
  width: 100% !important;
  height: 64px;
  top: 0;
  left: 0;
  z-index: 554;

  &.sticky-header {
    position: fixed;
    width: 100% !important;
    background: transparent;
    z-index:100;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transition: all 400ms ease-out;
    transition: -webkit-transform 0.8s ease;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    box-shadow: none;
  }
}

.site-logo .hs_cos_wrapper_type_rich_text {
  height: 60px;
  display: table;
  table-layout: fixed;

  a {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    display: table-cell;
    vertical-align: middle;
    line-height: .7em;
  }

  img {
    max-width: 125px;
  }

  a:hover {
    opacity: 1;
  }
}

.header-container-wrapper .row-fluid [class*="span"] {
  min-height: 0;
}


.scroll-header .site-header.sticky-header  {
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
}
.sticky-header .sitelogo .hs_cos_wrapper_type_rich_text {
  height: 50px;
}

img.logo-dark {
  display: none;
}

.dark-nav{
  .site-header{
    background: #000000;
    &.sticky-header{
      background: #000;
    }
  }
}

.menu-primary{
  .hs-menu-wrapper > ul{
    float:right;

    > li{
      &.hs-item-has-children {
          >a::after {
            font-family: $icon-font;
            content: "\f107";
            font-size: 14px;
            position: relative;
            margin-left: 7px;
            color: inherit;
          }  
      }    

      a{
        font-size: 14px;
        font-weight: 700;
        line-height: 60px;
        min-height: 60px;
        padding: 0 10px;
        position: relative;
        text-decoration: none;
        color: #fff;
        letter-spacing: -0.03em;

        min-height: 50px;

        &:hover{
          opacity: 0.7;
          color: #ccc;
        }
      }

      &:last-child a{
        span{
          background-color: $link-color;
          color: #fff;
          margin-top: 5px;
          line-height: 3.1;
          width: 80px !important;
          border-radius: 30px;
          text-align: center;
          min-height: 40px;
          display: inline-block;
        }
      }

    }

    ul{
      background: #000000;
      box-shadow: 0 0 0 0 rgba(0,0,0,.1);
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.1);
      line-height: normal;
      padding: 15px 0;
      min-width: 156px;

      li{
        margin-left: 1px;
        color: #979797;

        &:hover{
          a{
            color: #fff;
          }
        }

        a{
          line-height: normal;
          font-weight: 700;
          border-top: none;
          padding: 10px 20px;
          text-align: left;
          font-size: 13px;
          color: #979797;
          position: relative;
          text-decoration: none;
          letter-spacing: -0.03em;
        }
      }
    }
  }
}

.sticky-header .menu-primary .hs-menu-wrapper > ul ul li a{
  line-height:1;
}
  /* Override max width on menu links */
.menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}
.menu-primary .hs-menu-wrapper > ul > li.active-branch > a {
  color: rgba(0,0,0,0.6);
}
.menu-primary .hs-menu-wrapper > ul ul li.active-branch a {
  color: rgb(102, 102, 102);
}
.menu-primary .hs-menu-wrapper > ul ul li:hover a {
  color: #fff;
}

.menu-primary .hs-menu-wrapper,
.menu-primary .hs-menu-wrapper > ul ul { 
  display:block !important;
}
.site-header.sticky-header{
  z-index: 1001;
}


@media (max-width: 767px){
  /* Menu Reset */
  .menu-primary,
  .menu-primary .hs-menu-wrapper > ul,
  .menu-primary .hs-menu-wrapper > ul li,
  .menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:#fff;
  }

  /* ===== Mobile Toggle Button ===== */

  .mobile-trigger{
    display: inline-block !important;
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 15px;
    width: auto;
    line-height: 60px;
    height: 60px;
    margin: 0 0 0 12px;
    color: #222222;

    &:hover{
      color: #666666;
    }

    &::after{
      content: "\f0c9";
      font-family: FontAwesome;
      font-size: 20px;
      display: block;
      -webkit-font-smoothing: antialiased;
    }
  }
  
  .close-trigger {
    position: absolute;
    cursor: pointer !important;
    height: 14px;
    right: 30px;
    top: 30px;
    display: block;
    color: #a7a7a7;
    z-index: 111;

    &:hover{
      color:#ffffff;
    }
    &:before {
      font-size: 20px;
      content: "\f00d";
      font-family: FontAwesome;
      line-height: 14px;
      display: block;
    }
  }
  .child-trigger {
    display: block !important;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100% !important;
    min-width: 55px !important;
    height: 32px !important;
    padding: 0 25px;
    font-weight: normal;

    &::after {
      font-family: "FontAwesome";
      content: "\f107";
      line-height: 32px;
      position: absolute;
      top: 5px;
      right: 22px;
      cursor: pointer;
      font-weight: 100;
      font-size: 18.2px;
      color: #a7a7a7;
      display: block;
    }

    &.child-open:after{
      content: "cont";
    }
  }  

  .menu-primary{
    height: 100%;
    width: 400px !important;
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
    position: fixed;
    right: 0;
    top: 0;
    padding: 0 0;
    color: #a7a7a7;
    background-color: rgba(0,0,0,0.9);
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 9999 !important;
    visibility: hidden;
    overflow-x:auto;

    ul.hs-menu-children-wrapper{
      visibility: visible !important;
      opacity: 1 !important;
      position: static !important;
      display: none;
    }
    .hs-menu-wrapper{
      width: 100%; /* Full screen width */

      > ul{
        > li{
          position: relative;

          a{
            padding: 5px 0;
            display: block;
            font-size: .8em;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            line-height: 3.2rem;
          }
        }
      }

      ul {
        background-color: transparent;
        padding-bottom: 10px;
        padding-left: 1.5em;
      }
    }
  }
  .mobile-open .menu-primary {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    visibility: visible;
  }
  .menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  .menu-primary.js-enabled .hs-menu-wrapper {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 15.7% 15.9% 40px 43px;
  }
}
 
  