html{
  overflow-x: hidden;
}
body{
  margin: 0;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.medium-text-center{
  @include md{
    text-align: center!important;
  }
}
.medium-text-left{
  @include md{
    text-align: left!important;
  }
}
.medium-text-right{
  @include md{
    text-align: right!important;
  }
}

.container-fluid .row-fluid .row,
.row-fluid-wrapper .row-fluid .row {
  float: none;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  &.fullwidth{
    max-width: 100%;
  }
}

.container-fluid .row-fluid .narrow {
  float: none;
  max-width: $narrow-width;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.row{
  &.collapse{    
    .span12{
      width: 100%;
    }
    .span6{
      width: 50%;

      @include md{
        width: 100%;
      }
    }
    .span4{
      width: 33.333%;
      @include md{
        width: 100%;
      }
    }
    .span3{
      width: 25%;
      @include md{
        width: 100%;
      }
    }
    .span2{
      width: 20%;
      @include md{
        width: 100%;
      }
    }

    .row.collapse{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.row-fluid .row.collapse [class*="span"]{
  margin-left: 0;
}


.rss {
  a.hs-rss-title {
    @extend .h3;
    display: block;
    color: #fff;
    font-weight: 100;
  }

  .hs-rss-description a {
    color: #fff;
    font-size: 18px;
    margin-left: -9px;
    font-weight: 700
  }

  .hs-rss-item {
    margin: 0;
    width: 33.33%;
    float: left;
    padding: 30px;

    @include md{
      width: 100%;
    }
  }
  .hs-rss-item-text:before {
    content: "Related article";
  }
}
.country-check{
  select{
    height: 50px;
    font-size: 1rem;
  }
}
