body{
	font-family: $primary-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.5px;
}

h1,h2,h3,h4,h5{
	font-weight: 700;
	letter-spacing: -1px;
	margin-top: 8px;
	margin-bottom:8px;
	&.enterprise{
		font-family: $enterprise-font;
	}
}
h1{
	line-height: 1;
	font-size: 80px;

	@include md{
		line-height: 1.2;
		font-size: 48px;
	}
}
h2{
	line-height: 1.2;
	font-size: 48px;

	@include md{
		font-size: 32px;
	}
}
h3, h4, h5{
	line-height: 1.5;
}
h3{
	font-size: 32px;

	@include md{
		font-size: 24px;
	}
}

h4{
	font-size: 24px;

	@include md{
		font-size: 20px;
	}
}

h5{
	font-size: 20px;

	@include md{
		font-size: 16px;
	}
}

.enterprise{
	h1,h2,h3{
		font-family: $enterprise-font;
		line-height: 1.2;
	}
	h4, h5{
		line-height: 1.5;
	}
	h1{
		font-size: 64px;
	}
	h5{
		font-size: 20px;
	}
}

p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 32px;
} 
small {
	font-size: 12px;
}
strong {
	font-weight: 700;
}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup{ 
	top: -0.5em; 
}
sub { 
	bottom: -0.25em; 
}


a{
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus{
		color: $hover-color;
	}
}

ul.unstyled, 
ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}

/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background: $link-color;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: $link-color;
  text-shadow: none;
}

/* Corrects width issues in table elements created via the wysiwyg editor */
table tr td img {
	max-width: initial;
}
