$consumer-main-color: #103939;
$consumer-secondary-color: #0c5c51;

$enterprise-main-color: #083451;
$enterprise-secondary-color: #9eb5c4;

$link-color: #159281;
$hover-color: #00DEAD;

$text-color: #1f1f1f;


$primary-font:"sofia-pro",sans-serif;
$enterprise-font: Georgia,serif;
$icon-font: "FontAwesome";

$max-width: 1024px;
$narrow-width: 700px;

$break-small:"screen and (max-width: 481px)";
$break-medium:"screen and (max-width: 769px)";
$break-x-large:"screen and (min-width: 1600px)";

$small: 481px;
$medium: 769px;
$x-large: 1600px;

